body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color__text-main;
    font-family: $font__body;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.2px;
    line-height: $font__line-height-body;  
    margin: 0;
    text-rendering: optimizeLegibility;
}

pre {
    font-family: $font__pre;
    font-size: $font__size-sm;
    margin: 0 0 $spacing__unit;
    white-space: pre-line;
}

/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/
@import 'headings';