// Backgrounds
$color__heading:                darken( #3d3d3d, 15% );
$color__text-main:              darken( #3d3d3d, 15% );
$color__border-dark:            lighten( #000, 11% );
$color__border-light:           lighten( #ccc, 8% );

// Buttons
$color__primary:                 #fff;
$color__primary-text:            #3d3d3d;
$color__secondary:               #eaa63e;
$color__secondary-text:          #fff;

// Links 
$color__accent: #04C2C9;