@mixin clear {
    overflow: auto;
}

@mixin clearboth {
    clear: both;
}

@mixin clearfix {
    content: ' ';
    display: table;
}

@mixin contentWidth() {
    max-width: calc( 100% - ( 2 * #{$spacing__unit} ) );
    width: 100%;

    @include media ( tablet ) {
        width: 80%;
    }
}

@mixin fontSize() {
    font-size: $font__size-md;

    @include media ( tablet ) {
        font-size: $font__size-lg; 
    }
}
 
@import 'utilities';